@font-face {
    font-family: streamkit1  ;
    src: url(../assets/fonts/streamkit1.woff2);
}
@font-face {
    font-family: streamkit2  ;
    src: url(../assets/fonts/streamkit2.woff2);
}
@font-face {
    font-family: streamkit3  ;
    src: url(../assets/fonts/streamkit3.woff2);
}
@font-face {
    font-family: streamkit4  ;
    src: url(../assets/fonts/streamkit4.woff2);
}
@font-face {
    font-family: streamkit5  ;
    src: url(../assets/fonts/streamkit5.woff2);
}
@font-face {
    font-family: streamkit6  ;
    src: url(../assets/fonts/streamkit6.woff2);
}