@font-face {
    font-family: fonte1 ;
    src: url(../assets/fonts/fonte1.woff2);
}
@font-face {
    font-family: fonte2 ;
    src: url(../assets/fonts/fonte2.woff2);
}
@font-face {
    font-family: fonte3 ;
    src: url(../assets/fonts/fonte3.woff2);
}
@font-face {
    font-family: fonte4 ;
    src: url(../assets/fonts/fonte4.woff2);
}
@font-face {
    font-family: fonte5 ;
    src: url(../assets/fonts/fonte5.woff2);
}
@font-face {
    font-family: fonte6 ;
    src: url(../assets/fonts/fonte6.woff2);
}
