* {
    margin:0px;
    box-sizing:border-box    
}
.container {
    display: flex;
    flex-direction: column;
}
.cabecalho {
    height: 330px;
    background-color: aqua;
}
.rodape {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 331px;
    padding: 10px;
}
.rodapecima {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    height:150px;
   
}
.rodapecima div {
    background-color: antiquewhite;
    height:15px;
    margin: 3px;
    width: 400px;

}
.rodapemeio {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    height:150px;
}
.rodapemeio div {
    background-color: antiquewhite;
    height:15px;
    margin: 3px;
    width: 400px;
}
.rodapebaixo {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end ;
   
    height:150px;
}
.rodapebaixo div {
    background-color: antiquewhite;
    height:15px;
    margin: 3px;
    width: 400px;
    
}